.container {
    background-image: url("bg\ pink.jpg");
    border: 3px dotted gray;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    padding: 80px;
    
}

body {
    background-image: url("bg\ 2.jpg");
    background-position: auto;
}


h1 {
    text-align: center;
}

p {
    text-align: center;
}

.img {
    max-width: 200px;
    max-height: 150px;
    width: 100%;
}
